body {
    display: flex;
    flex-direction: column;
    background-color: mediumslateblue;
    padding: 0%;
    margin: 0%;
}

.header {
    display: flex;
    padding: 16px;
    justify-content: space-around;
}

.links {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 27px;
    list-style-type: none;
    gap: 21px;
}

.logo {
    width: 160px;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}