body {
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
}

/* This is Header Section */

.upperSection {
    background-color: mediumslateblue;
}

.header {
    display: flex;
    padding: 16px;
    justify-content: space-around;
}

.links {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 27px;
    list-style-type: none;
    gap: 21px;
}

.logo {
    width: 160px;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

/* This introduction Content Section with Introduction Image  */

.introContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
    margin: 30px 20px;
}

.introImage {
    width: 500px;
    height: 200px;
    background-color: cadetblue;
}

.introText {
    display: flex;
    flex-direction: column;
   
    font-size:x-large;
}


.introBodyText {
    font-size:larger;
    margin-bottom: 11px;
}

.introButton {
    align-self: flex-start;
    padding: 11px;
    font-size: large;
    font-weight: 700;
    border-radius: 11%;
}

/* This is Middle Section of site, Contains Tool Infromation */

h2 {
    text-align: center;
    font-size:xx-large;
    margin: 50px 20px;
}

.infoImgAndText {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.toolInfo {
    width: 200px;
    text-wrap: wrap;
    text-align: center;
}

.toolImg {
    width: 200px;
    height: 200px;
    border: 3px solid rgb(96, 15, 202);
    border-radius: 11px;
}

/* This is Middle Section, contains Customer Review */

.customerReview {
    background-color: rgb(161, 149, 149);
    text-align: center;
    padding: 30px;
    font-size: x-large;
}

.customerName {
    margin-left: 500px;
    font-size: x-large;
    font-weight: bold;
}


/* This is Bottom Section, contains Call to Action  */ 

.callToAction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.callToActionBox {
    display: flex;
    background-color: rgb(67, 106, 235);
    flex-basis: 900px;
    gap: 20px;
    padding: 11px;
    justify-content: space-around;
    border-radius: 20px;
    margin: 50px ;
}

.callToActionText {
    font-size: x-large;
    color: white;
}

.callToActionButton {
    align-self: center;
    padding: 11px 20px;
    background-color: rgb(67, 106, 235);
    color: white;
    border: 3px solid white;
    border-radius: 11px;
    cursor: pointer;
}


/* This is footer Section  */

footer {
    background-color: rgb(61, 51, 51);
    color: white;
    text-align: center;
    padding: 50px;
    font-size: large;
}